:root {--primary: #5397F5;
--secondary: #58C6FC;
--tertiary: #5BDAE5;
--light-dark: #776965;
--dark: #38302e;
--white: white;
--border-radius: 0.3rem;
}

header {
    text-align: center;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--light-dark);
    color: var(--primary);
    margin: 0;
    padding: 0;
}

main {
    margin: 20px auto;
    width: 94%;
}


.form-input,
.form-textarea {
    display: block;
}

.button{
    display: block;
}


